interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vHShZI/iBU+WldpB4vKowA.0
      x-processing-time:
      - 156ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T02:57:34.4106237+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mZvQcPIy40+a/LPunfDvXA.0
      x-processing-time:
      - 305ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: C3CfP5J2nEeqKnYrBscGUQ.0
      x-processing-time: 626ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: kUAN3xHBxE6GzQ07OxYJdA.0
      x-processing-time: 733ms
    status:
      code: 201
      message: Created
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages/sanitized?api-version=2020-09-21-preview2
  response:
    body: '{"id": "sanitized", "type": "Text", "priority": "Normal", "version": "1605063457253",
      "content": "hello world", "senderDisplayName": "sender name", "createdOn": "2020-11-11T02:57:37Z",
      "senderId": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: ZHJgd2brYk2JHHU3hvzRZA.0
      x-processing-time: 255ms
    status:
      code: 200
      message: OK
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: 8cNUmHVBwkiGB6Z3/qanTA.0
      x-processing-time: 333ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - CQhw34TwT0+/WyGYVwEQAg.0
      x-processing-time:
      - 16008ms
    status:
      code: 204
      message: No Content
[...]
