interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HxcjjuEGOk+68tzcj2LC7g.0
      x-processing-time:
      - 143ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T02:50:34.4181292+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sjY5GFGWuEK7TTjqWQ9Emw.0
      x-processing-time:
      - 300ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RwpnXHaGokCD1pLvd67WGA.0
      x-processing-time:
      - 1131ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/members?api-version=2020-09-21-preview2
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - g/KZhlOATkClpCjy5OMp4g.0
      x-processing-time:
      - 745ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - agGIoFDiKUClp5sfwb7T0Q.0
      x-processing-time:
      - 16475ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - ZQd0F3GeAUiJTAfbMzs94g.0
      x-processing-time:
      - 330ms
    status:
      code: 204
      message: No Content
version: 1
