interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8FE8XID0F023vkQGyT0RNw.0
      x-processing-time:
      - 142ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T03:00:44.6336532+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CR0tegC2cEa/R4yuAURcsw.0
      x-processing-time:
      - 299ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: GGFge77Pjki2JuuGbUMBNw.0
      x-processing-time: 570ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: 59UrA7oThEeMlmp8EExDZQ.0
      x-processing-time: 391ms
    status:
      code: 201
      message: Created
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: DnjvLYTsg0CrEMMJRyKJLQ.0
      x-processing-time: 304ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - NqkVlJuPmUSyrgTubnoOSg.0
      x-processing-time:
      - 15982ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - +BkloNnKoEu1f50nyj31eg.0
      x-processing-time:
      - 15726ms
    status:
      code: 204
      message: No Content
version: 1
