interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Ho8AeGfBPkSZGxD/BIVh7Q.0
      x-processing-time:
      - 205ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T02:55:42.0626948+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TlFQ5u/zF0m6tKLQJgzMXQ.0
      x-processing-time:
      - 294ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lljHBHVjbUaK1NDKZZLj9Q.0
      x-processing-time:
      - 1124ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: '{"topic": "update topic"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - H/YpkvVOXEWNvM4hrAUAJw.0
      x-processing-time:
      - 949ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - nzWNfMzq6kWJLaYhsZyKHA.0
      x-processing-time:
      - 16601ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - 4Pwp6lMzdUi7kWsqmm+OEg.0
      x-processing-time:
      - 354ms
    status:
      code: 204
      message: No Content
version: 1
