interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kQsq2k52NkucT1IKiMhqWw.0
      x-processing-time:
      - 142ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T02:46:22.7102235+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UNfJweo7O0uFzAen7a57iQ.0
      x-processing-time:
      - 294ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rnKvUKyckECKRSmGBaET0A.0
      x-processing-time:
      - 624ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - GjNhvyOvAUivthrqpzl7PA.0
      x-processing-time:
      - 16498ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - 2s2/L0oVhkG1U1PlYsmrvw.0
      x-processing-time:
      - 347ms
    status:
      code: 204
      message: No Content
version: 1
