interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CFv4tZ9kx02N0a1q4icRYg.0
      x-processing-time:
      - 143ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-12T03:00:06.8584495+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BOxk/Ypk502qFFvCVJDPWg.0
      x-processing-time:
      - 297ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: EBXKQfSu8kKCi8OTREJezQ.0
      x-processing-time: 571ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-09-21-preview2
- request:
    body: '{"members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/members?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2
      content-type: application/json; charset=utf-8
      ms-cv: g8dvlLdjjEOlpasM6ukz5w.0
      x-processing-time: 898ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/members?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/members/8:acs:9b665d53-8164-4923-ad5d-5e983b07d2e7_00000006-5520-ab14-ea7c-5a3a0d0001e0?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2
      ms-cv: YPjRsTpoakehyGUZDY6YDQ.0
      x-processing-time: 471ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/members/8:acs:9b665d53-8164-4923-ad5d-5e983b07d2e7_00000006-5520-ab14-ea7c-5a3a0d0001e0?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: 5ZE+EqRqCEa2klQQ6KLPZQ.0
      x-processing-time: 293ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - LLp/FrEQuUy5SrDTsAaqKg.0
      x-processing-time:
      - 16901ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - vJblB/Vf0UGeGKIo9P22Uw.0
      x-processing-time:
      - 16262ms
    status:
      code: 204
      message: No Content
version: 1
